.error{
    color:red;
}
#mask > div {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.1;
    z-index:10000;
}

.box-one{
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
    background-color: #fff;
}

ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
.page-content{
    margin-top:70px;
}

.col-left {
    margin-right: 20px;
    overflow: hidden;
}

.col-right {
    width: 300px;
}

@media (min-width: 992px) {
    .col-left {
        width: 610px;
    }

    .col-right {
    }

    .main {
    }
}

@media (min-width: 1200px) {
    .col-left {
        width: 790px;
    }

    .col-right {
    }
}

@media (max-width: 991px) {
    .col-left {
        margin-right: 0;
        width: 100%;
    }

    .col-right {
        display: none;
    }
}
