{{define "content"}}
<link rel="stylesheet" href="/static/highlight/highlight.min.css">
<style>
    img {
        max-width: 100%;
    }

    .article-header a {
        color: black;
    }

    @media (min-width: 1200px) {
        .container {
            padding: 20px 15px 20px 15px;
            background-color: white;
        }
    }
</style>
<div class="container">
    <div class="article-header text-center">
        <h2>{{.Article.Title}}</h2>
        <input type="hidden" id="articleType" value="{{.Article.ArticleType}}">
        <input type="hidden" id="articleId" value="{{.Article.Id}}">
        {{if eq .Article.ArticleType 4}}
        <div class="bg-warning">
            您正在查看的是历史版本
        </div>
        {{end}}
        <p>
            <span>发布时间:{{formatTime .Article.InsertTime ""}}</span>
            {{if eq .Readonly false}}
            <a href="/articleedit?id={{.Article.Id}}">编辑</a>
            <a href="javascript:;" id="delete">删除</a>
            <a href="/articlehistories?id={{.Article.Id}}">历史版本</a>
            {{end}}
        </p>
    </div>
    <div class="article-content" style="word-wrap:break-word;">{{.Html}}</div>
</div>
{{end}}
{{define "script"}}
<script>
    var id = $("#articleId").val()
    $("#delete").click(function () {
        if (confirm("确定要删除吗?")) {
            $.post("/articledelete", { id: id }, function (res) {
                debugger
                if (res.error) {
                    alert(res.error)
                } else {
                    window.location.href = "/"
                }
            })
        }
    })
    $(".article-content a").attr("target", "_blank")
    if ($("#articleType").val() == 3) {
        setTimeout(function () {
            location.replace("/articlelock?id={{.Article.Id}}&t=2")
        }, 1000 * 60)
    }
</script>
{{end}}