{{define "content"}}
    <link rel="stylesheet" href="/static/highlight/highlight.min.css">
    <style>
        img {
            max-width: 100%;
        }
    </style>
    <div class="container">
        <div class="text-center">
            <h2>{{.Article.Title}}</h2>
            <p>
                <span>发布时间:{{formatTime .Article.InsertTime ""}}</span>
                {{if eq .Readonly false}}
                    <a href="/articleedit?id={{.Article.Id}}">编辑</a>
                    <a href="javascript:;" id="delete">删除</a>
                {{end}}
            </p>
        </div>
        <div class="article-content" style="word-wrap:break-word;">{{.Html}}</div>
    </div>
{{end}}
{{define "script"}}
    <script>
        var id ={{.Article.Id}}
            $("#delete").click(function () {
                if (confirm("确定要删除吗?")) {
                    $.post("/articledelete", {id: id}, function (res) {
                    debugger
                        if (res.error) {
                            alert(res.error)
                        } else {
                            window.location.href = "/"
                        }
                    })
                }
            })
        $(".article-content a").attr("target", "_blank")
        {{if eq .Article.ArticleType 3}}
        setTimeout(function () {
           location.replace("/articlelock?id={{.Article.Id}}&t=2")
        }, 1000 * 60)
        {{end}}
    </script>
{{end}}