{{define "content"}}
    <style>
        body {
            background: url("{{.Config.HomeWallpaper}}");
            background-size: 100%, 100%;
        }

        @media (max-width: 1199px) {
            .container > .row {
                margin: 0;
            }
        }
    </style>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-left"> {{template "left" .}}</div>
            <div class="col-right"> {{template "right" .}}</div>
        </div>
    </div>
{{end}}}}