{{define "subContent"}}
    {{$model := .}}
    <style>
    </style>
    <div class="col-lg-9">
        {{range .Articles}}
            <a href="/u/{{.UserId}}/post/{{.Id}}" target="_blank" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="width:70%;overflow: hidden;margin-right: 20px;">{{.Title}}</h5>
                    <span style="font-size:14px;">{{.CategoryName}}</span><span style="font-size:14px;">{{formatTime .InsertTime ""}}</span>
                </div>
                <p class="mb-1" style="overflow:hidden">{{.Summary}}</p>
            </a>
        {{end}}
    </div>
    <div class="col-lg-3 d-none d-lg-block">
        <ul>
            {{range .Categories}}
                <li><a href="{{$model.GetCategoryUrl .Name}}">{{.Name}}</a></li>
            {{end}}
        </ul>
    </div>
{{end}}
{{define "script"}}
{{end}}