{{define "content" }}
    {{$categoryId:=.Article.CategoryId}}
    {{$articleType:=.Article.ArticleType}}
    <link rel="stylesheet" type="text/css" href="/static/sparksuite-simplemde-markdown-editor-6abda7a/simplemde.css"
          media="screen">
    <style>
        .fa-header:before {
            content: "\f1dc";
        }

        .fa-picture-o:before {
            content: "\f03e";
        }
    </style>
    <div class="container">
        <form action="/articlesave" method="post">
            <input type="hidden" name="id" value="{{.Article.Id}}"/>
            <input type="hidden" name="summary" id="summary"/>
            <input type="hidden" name="html" id="html"/>
            <div id="error"></div>
            <div class="form-group">
                <label>标题</label>
                <input type="text" class="form-control" name="title" placeholder="请输入标题" required
                       value="{{.Article.Title}}">
            </div>
            <div class="form-group">
                <label>正文</label>
                <textarea id="content" class="form-control" name="content" rows="3" placeholder="正文内容..."
                          required>{{.Article.Content}}</textarea>
            </div>
            <div class="form-group">
                <label>分类</label>
                <select class="form-control col-lg-2" name="categoryId" required>
                    {{range .CategoryList}}
                        <option value="{{.Id}}" {{if eq $categoryId .Id}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div class="form-group">
                <label>类型</label>
                <select class="form-control col-lg-1" name="type" id="type">
                    <option value="1" {{if eq $articleType 1}}selected{{end}}>公开</option>
                    <option value="2" {{if eq $articleType 2}}selected{{end}}>私有</option>
                    <option value="3" {{if eq $articleType 3}}selected{{end}}>加密</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">发布</button>
        </form>
    </div>
{{end}}

{{define "script"}}
    <script src="/static/sparksuite-simplemde-markdown-editor-6abda7a/simplemde.js"></script>
    <script src="/static/js/marked.min.js"></script>
    <script src="/static/Rovak-InlineAttachment/inline-attachment.min.js"></script>
    <script src="/static/Rovak-InlineAttachment/codemirror-4.inline-attachment.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: $("#content")[0], autoDownloadFontAwesome: false, promptURLs: true,
            previewRender: function (plainText) {
                return marked(plainText,{ breaks: true }); // Returns HTML from a custom parser
            }
        });
        inlineAttachment.editors.codemirror4.attach(simplemde.codemirror, {
            uploadUrl: "upload",
            uploadMethod: "post",
            jsonFieldName: "downloadUrl",
            uploadFieldName: "image",
            onFileUploadResponse: function (res) {
                console.log(res)
            },
            urlText: "![image]({filename})"
        });
        app.ajaxSubmit($("form:last"), {
            before: function () {
                var html = marked(simplemde.value(),{ breaks: true });
                var summary = html.replace(/(<([^>]+)>)/ig, "");
                $("#html").val(html)
                $("#summary").val(summary)
                app.closeError($('#error'))
            },
            success: function (res) {
                if (res.error) {
                    app.showError($('#error'), res.error)
                } else {
                    window.location.href = "/articlelist"
                }
            }
        })
    </script>
{{end}}