{{define "content"}}
    <div class="container">
        <div id="error"></div>
        <a href="/categoryedit">新增分类</a>
        <ul>
            {{range .}}
                <li data-id="{{.Id}}">
                    {{.Name}}<a class="ml-2" href="/categoryedit?id={{.Id}}">编辑</a><a href="javascript:;" class="ml-2 delcategory">删除</a>
                </li>
            {{end}}
        </ul>
    </div>
{{end}}
{{define "script"}}
    <script>
        $(".delcategory").click(function () {
            var id = $(this).parents("li").data("id")
            if (confirm("确定要删除吗?")) {
                $.post("/categorydelete",{id:id}, function (res) {
                    if (res.error) {
                        app.showError($('#error'), res.error)
                    } else {
                        window.location.reload()
                    }
                })
            }
        })
    </script>
{{end}}