{{define "content"}}
    <div class="container">
        <form action="/categorysave" method="post">
            <div id="error"></div>
            <input type="hidden" value="{{.Id}}" name="id">
            <div class="form-group">
                <label>分类名称</label>
                <input type="text" class="form-control" name="name" placeholder="分类名称" required value="{{.Name}}">
            </div>
            <button  type="submit" class="btn btn-primary" act>保存</button>
        </form>
    </div>
{{end}}
{{define "script"}}
    <script>
        app.ajaxSubmit($("form:last"), {
            before: function () {
                app.closeError($('#error'))
            },
            success: function (res) {
                if (res.error) {
                    app.showError($('#error'), res.error)
                } else {
                    window.location.href = "/categories"
                }
            }
        })
    </script>
{{end}}