<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.PageTitle}}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.9.0-web/css/all.css">
</head>
<body>
<div class="nav">
    <div style="display:flex;align-items:center;">
        <div class="brand"><a href="/">{{.WebSiteName}}</a></div>
        <div class="toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ul class="menu">
        {{if eq .User.Id 0}}
            <li class="menu-item">
                <a href="/login?redirectUri={{.RequestUri}}">登录</a>
            </li>
        {{else}}
            <li class="menu-item">
                <a href="/user/{{.User.Id}}/article"> {{.User.UserName}}</a>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="/categories">分类</a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="/profile">设置</a>
                    </li>
                    <li class="sub-menu-item">
                        <form id="logoutForm" method="post" action="/logout?redirectUri={{.RequestUri}}">
                            <a href="javascript:;;" onclick="document.getElementById('logoutForm').submit()">注销</a>
                        </form>
                    </li>
                </ul>
            </li>
        {{end}}

        <li class="menu-item">
            <a href="/articleedit">写文章</a>
        </li>
    </ul>
</div>
<div class="page-content">
    {{template "content" .Data}}
</div>
<div id="mask" class="d-none">
    <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="footer" style="margin:25px 0;text-align: center">
    <p>页面处理耗时:{{.Duration}}ss</p>
    <p>版本更新时间:{{.LastUpdateTime}}</p>
</div>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/jquery-validation-1.19.0/dist/jquery.validate.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
{{template "script" .Data}}
</body>
</html>